*

!.gitignore
!app/
!app/code/
!app/code/community/

!app/code/community/Inchoo/
!app/code/community/Inchoo/Unicache/
!app/code/community/Inchoo/Unicache/*
!app/code/community/Inchoo/Unicache/*/*
!app/code/community/Inchoo/Unicache/*/*/*
!app/code/community/Inchoo/Unicache/*/*/*/*
!app/code/community/Inchoo/Unicache/*/*/*/*/*

*.DS_Store